* {
    margin: 0;
    padding: 0;
}

html, body, .main {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 8px;
}

a {
    color: black;
}

.main {
    position: fixed;
    background-color: white;
    overflow: hidden;
    text-align: center;
    font-family: helvetica, arial;
}

.title, .info {
    width: 100%;
    padding: 8px;
}

.game {
    background-color: black;
    width: 100%;
    height: 100%;
}

.track {
    position: fixed;
}

.tile {
    position: fixed;
}

.frame, .fill{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid gray;
}

.frame {
    background-color: white;
}

.fill {
    background-color: black;
}
